[Desktop Entry]
Encoding=UTF-8
Name=BlackRaven Core
Comment=BlackRaven P2P Cryptocurrency
Comment[de]=Verbinde mit dem BlackRaven peer-to-peer Netzwerk
Comment[fr]=BlackRaven, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BlackRaven, eşten eşe kriptografik sanal para birimi
Exec=blackraven-qt %u
Terminal=false
Type=Application
Icon=blackraven128
MimeType=x-scheme-handler/blackraven;
Categories=Office;Finance;
