[Unit]
Description=BlackRaven's distributed currency daemon
After=network.target

[Service]
User=blackravencore
Group=blackravencore

Type=forking
PIDFile=/var/lib/blackravend/blackravend.pid
ExecStart=/usr/bin/blackravend -daemon -pid=/var/lib/blackravend/blackravend.pid \
-conf=/etc/blackravencore/blackraven.conf -datadir=/var/lib/blackravend -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
